*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 0.8fr;
}

#nav-left{
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 10px;
}

#nav-left h4{
    font-size: 28px;
    font-weight: 600;
}

#nav-center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-center a{
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

#nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#button1{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #0061FE;
    color: #0061FE;
    background-color: #fff;
}

#button1:hover{
    color: white;
    background-color: #0061FE;
    border: 2px solid white;
}

#button2{
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: #0061FE;
    border: 2px solid #0061FE;
}

#section1{
    height: 800px;
    width: 100%;
    background-color: #F6F7F9;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas: "top-left top-right"
                         "figure1 figure1"
    ;
    border: 4px solid transparent;
    border-radius: 40px;
    padding: 10px 40px;
}

#top-left{
    grid-area: top-left;
    padding: 30px;
}

#top-left h1{
    font-size: 44px;
    font-weight: 400;
}

#top-right{
    grid-area: top-right;
    padding: 30px;
}

#top-right p{
    color: #5C5D5F;
}

#top-right p{
    font-size: 16px;
    font-weight: 500;
}

#button3{
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    color: white;
    background-color: #0061FE;
    border: 2px solid #0061FE;
}

#button4{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #0061FE;
    color: #0061FE;
    background-color: #fff;
}

#button4:hover{
    color: white;
    background-color: #0061FE;
    border: 2px solid #0061FE;
}



#figure1{
    grid-area: figure1;
}

#figure1 img{
    height: 512px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#section2{
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text1 h1{
    font-size: 44px;
    font-weight: 400;
}

#section3{
    height: 600px;
    width: 100%;
    background-color: #F6F7F9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "top-left1 full-right"
                         "bottom-left1 full-right"
    ;
    border: 4px solid transparent;
    border-radius: 40px;
    padding: 10px 40px;
}

#top-left1{
    grid-area: top-left1;
}

#bottom-left1{
    grid-area: bottom-left1;
    padding-right: 80px;
    padding-left: 20px;

}

#bottom-left1 h2{
    font-size: 34px;
    font-weight: 500;
    padding-bottom: 32px;
}

#bottom-left1 h4{
    font-size: 18px;
    font-weight: 500;
    color: #5C5D5F;
    padding-bottom: 32px;
}

#full-right{
    grid-area: full-right;
}

#full-right img{
    height: 90%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin: 26px 0px;
}

.text1 p{
    color: #5C5D5F;
}

#button5{
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #5C5D5F;
    color: #5C5D5F;
    background-color: #fff;
    margin: 30px 10px;
}