*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

html{
    font-size: clamp(14px, 1vw, 18px);
}

body{
    background-color: #121212;
}

@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 2000px;
}

main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    #section1{
        width: 100%;
        @include flex-column(0.72rem);
        color: white;
        padding: 0.72rem;

        figure{
            img{
                width: 100%;
                border-radius: 0.72rem;
            }

        }

        section{
            background-color: #1E1E1E;
            padding: 2rem;
            border-radius: 0.72rem;
            @include flex-column(5rem);
            justify-content: space-between;

            #top-section{
                font-size: 0.9rem;
                font-weight: 400;
                opacity: 0.8;
            }

            #bottom-section{
                @include flex-column(0.5rem);

                h1{
                    font-size: 2.6rem;
                    font-weight: 440;
                    text-transform: uppercase;
                    opacity: 0.8;
                }
            
                p{
                    font-size: 1.3rem;
                    font-weight: 400;
                    line-height: 2.2rem;
                    opacity: 0.5;
                }

                button{
                    width: fit-content;
                    padding: 1rem 2rem;
                    border-radius: 1rem;
                    background-color: #a3a3a3;
                }

            }

        }

    }

    #section2{
        width: 100%;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "view1 view2"
                             "view3 view4"
        ;
        align-items: center;
        justify-items: center;
        padding: 0.72rem;
        grid-row-gap: 2rem;
        grid-column-gap: 2rem;


            #view1{
                grid-area: view1;
            }

            #view2{
                grid-area: view2;
            }

            #view3{
                grid-area: view3;
            }

            #view4{
                grid-area: view4;
            }

            .view{
                @include flex-column(0.842rem)
            }

            .text-uppercase{
                text-transform: uppercase;
                font-size: 1rem;
                opacity: 0.6;

            }

            .h1-fontsize{
                font-size: 2.6rem;
                text-align: center;
                font-weight: 300;
            }
        }

        #section3{
            width: 100%;
            @include flex-column(0.72rem);
            color: white;
            padding: 0.72rem;

            figure{
                img{
                    width: 100%;
                    border-radius: 0.72rem;
                }

            }

            section{
                background-color: #1E1E1E;
                padding: 2rem;
                border-radius: 0.72rem;
                @include flex-column(5rem);
                justify-content: space-between;

                #top-section{
                    font-size: 1rem;
                    font-weight: 400;
                    opacity: 0.790;
                    text-transform: uppercase;

                }

                #bottom-section{
                    @include flex-column(0.5rem);

                    h1{
                        font-size: 2.2rem;
                        font-weight: 440;
                        text-transform: uppercase;
                        opacity: 0.842;
                    }
            
                    p{
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 2rem;
                        opacity: 0.5;
                    }

                }

            }

        #section3{
            width: 100%;
            @include flex-column(0.72rem);
            color: white;
            padding: 0.72rem;

        figure{
            img{
                width: 100%;
                border-radius: 0.72rem;
            }

        }

        section{
            background-color: #1E1E1E;
            padding: 2rem;
            border-radius: 0.72rem;
            @include flex-column(5rem);
            justify-content: space-between;

            #top-section{
                font-size: 1rem;
                font-weight: 400;
                opacity: 0.790;
                text-transform: uppercase;

            }

            #bottom-section{
                @include flex-column(0.5rem);

                h1{
                    font-size: 2.2rem;
                    font-weight: 440;
                    text-transform: uppercase;
                    opacity: 0.842;
                }
            
                p{
                    font-size: 1.3rem;
                    font-weight: 500;
                    line-height: 2rem;
                    opacity: 0.5;
                }

            }

        }

        #section4{
        width: 100%;
        @include flex-column(0.72rem);
        color: white;
        padding: 0.72rem;

        figure{
            img{
                width: 100%;
                border-radius: 0.72rem;
            }

        }

        section{
            background-color: #1E1E1E;
            padding: 2rem;
            border-radius: 0.72rem;
            @include flex-column(5rem);
            justify-content: space-between;

            #top-section{
                font-size: 1rem;
                font-weight: 400;
                opacity: 0.790;
                text-transform: uppercase;

            }

            #bottom-section{
                @include flex-column(0.5rem);

                h1{
                    font-size: 2.2rem;
                    font-weight: 440;
                    text-transform: uppercase;
                    opacity: 0.842;
                }
            
                p{
                    font-size: 1.3rem;
                    font-weight: 500;
                    line-height: 2rem;
                    opacity: 0.5;
                }

            }

        }

        }

    }

}
}

@media (min-width:990px){
    main{
        #section1{
            flex-direction: row;

            figure,section{
                width: 50%;
            }

            section{
                padding: 4rem;
                justify-content: space-between;

                #bottom-section{

                    h1{
                        font-size: 4rem;
                    }

                }

            }

        }

    }
}