@font-face {
    font-family: navfont;
    src: url(./sf-pro-display_regular.woff2);
}

@font-face {
    font-family: nextnav;
    src: url(./sf-pro-text_bold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: #181717;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    font-family: navfont;
}

i{
    color: #DA7A40;
    font-size: 18px;
}

#nextnav{
    height: 80%;
    width: 100%;
    background-color: #000000;
    text-align: center;
    padding: 50px;
    background-image: url(./hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-size: cover;
    background-position: center;
}

#nextnav h1{
    color: #fff;
    font-family: nextnav;
    font-size: 56px;
    font-weight: 550;
}

#nextnav h4{
    color: #fff;
    font-family: navfont;
    font-size: 28px;
    font-weight: 300;
    margin-top: 8px;
}

#links button{
    color: white;
    padding: 10px 25px;
    margin: 22px 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: rgb(14, 118, 255);
}

