* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main #section1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.72rem;
  color: white;
  padding: 0.72rem;
}
main #section1 figure img {
  width: 100%;
  border-radius: 0.72rem;
}
main #section1 section {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.72rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}
main #section1 section #top-section {
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
}
main #section1 section #bottom-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main #section1 section #bottom-section h1 {
  font-size: 2.6rem;
  font-weight: 440;
  text-transform: uppercase;
  opacity: 0.8;
}
main #section1 section #bottom-section p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.2rem;
  opacity: 0.5;
}
main #section1 section #bottom-section button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #a3a3a3;
}
main #section2 {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "view1 view2" "view3 view4";
  align-items: center;
  justify-items: center;
  padding: 0.72rem;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}
main #section2 #view1 {
  grid-area: view1;
}
main #section2 #view2 {
  grid-area: view2;
}
main #section2 #view3 {
  grid-area: view3;
}
main #section2 #view4 {
  grid-area: view4;
}
main #section2 .view {
  display: flex;
  flex-direction: column;
  gap: 0.842rem;
}
main #section2 .text-uppercase {
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.6;
}
main #section2 .h1-fontsize {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 300;
}
main #section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.72rem;
  color: white;
  padding: 0.72rem;
}
main #section3 figure img {
  width: 100%;
  border-radius: 0.72rem;
}
main #section3 section {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.72rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}
main #section3 section #top-section {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.79;
  text-transform: uppercase;
}
main #section3 section #bottom-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main #section3 section #bottom-section h1 {
  font-size: 2.2rem;
  font-weight: 440;
  text-transform: uppercase;
  opacity: 0.842;
}
main #section3 section #bottom-section p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  opacity: 0.5;
}
main #section3 #section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.72rem;
  color: white;
  padding: 0.72rem;
}
main #section3 #section3 figure img {
  width: 100%;
  border-radius: 0.72rem;
}
main #section3 #section3 section {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.72rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}
main #section3 #section3 section #top-section {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.79;
  text-transform: uppercase;
}
main #section3 #section3 section #bottom-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main #section3 #section3 section #bottom-section h1 {
  font-size: 2.2rem;
  font-weight: 440;
  text-transform: uppercase;
  opacity: 0.842;
}
main #section3 #section3 section #bottom-section p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  opacity: 0.5;
}
main #section3 #section3 #section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.72rem;
  color: white;
  padding: 0.72rem;
}
main #section3 #section3 #section4 figure img {
  width: 100%;
  border-radius: 0.72rem;
}
main #section3 #section3 #section4 section {
  background-color: #1E1E1E;
  padding: 2rem;
  border-radius: 0.72rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: space-between;
}
main #section3 #section3 #section4 section #top-section {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.79;
  text-transform: uppercase;
}
main #section3 #section3 #section4 section #bottom-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main #section3 #section3 #section4 section #bottom-section h1 {
  font-size: 2.2rem;
  font-weight: 440;
  text-transform: uppercase;
  opacity: 0.842;
}
main #section3 #section3 #section4 section #bottom-section p {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  opacity: 0.5;
}

@media (min-width: 990px) {
  main #section1 {
    flex-direction: row;
  }
  main #section1 figure, main #section1 section {
    width: 50%;
  }
  main #section1 section {
    padding: 4rem;
    justify-content: space-between;
  }
  main #section1 section #bottom-section h1 {
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */