@font-face {
    font-family: title;
    src: url(./Hyper\ Oxide.ttf);
}
@font-face {
    font-family: button;
    src: url(./exwayer.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 738px;
    background-image: url(./wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    font-family: title;
    padding-top: 310px;
    padding-bottom: 8px;
    color: crimson;
    font-size: 70px;
}

button{
    font-size: 30px;
    font-weight: 1000;
    font-family: button;
    padding: 10px 20px;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 10px;
}

button:active{
    scale: 0.95;
}