*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
css{
    height: 100%;
    width: 100%;
}

#parent{
    height: 300px;
    width: 100%;
    background-color: #333;
    padding: 20px;
    display: flex;
    gap: 16px;
    overflow: auto;
    flex-wrap: nowrap;
}

#parent::-webkit-scrollbar{
    display: none;
}
    
.card{
    height: 100%;
    width: 220px;
    background-color: #fff;
    border-radius: 10px;
}

.card img{
    height: 100%;
    width: 220px;
    object-fit: cover;
    border-radius: 10px;
}