*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #4ee8ebb9;
    overflow: auto;
}

#navbar{
    height: 10%;
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar h1{
    font-size: 40px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

#cards{
    height: 80%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 350px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.05s;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: -100%;
    transition: all ease 0.5s;
}

.card:hover .bottom{
    bottom: 0;
}

.card:hover img{
    filter: blur(1px);
}

.bottom{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.logo{
    font-size: 20px;
}

.btmleft{
    color: black;
    font-size: 30px;
    font-weight: 400;
}