*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : white;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

h1{
    font-size: 4rem;
}

button{
    padding: 0.5rem 1rem;
    background-color: darkcyan;
    color: white;
    border-radius: 2rem;
    border-color: white;
}

button:hover{
    cursor:pointer;
}