*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 24rem;
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.card p{
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
}

.card p span{
    color: royalblue;
    font-weight: 600;
}

.outer{
    height: 1rem;
    width: 100%;
    background-color: gainsboro;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.inner{
    height: 1rem;
    width: 0%;
    border-radius: 0.5rem;
    background-color: green;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom h1{
    font-family: monospace;
}

.bottom button{
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.3rem;
    background-color: green;
    color: white;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

