*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#cursor{
    height: 5rem;
    width: 5rem;
    position: fixed;
    transform: translate(-50%,-50%);
    cursor: none;
}