*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.card{
    width: 20rem;
    background-color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.card img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
}

.card h2{
    font-size: 2rem;
    white-space: nowrap;
    margin-bottom: 0.6rem;
}

.card h3{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.card p{
    font-size: 1rem;
}