*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    width: 16rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1.2rem;
}

.inner{
    position: relative;
    overflow: hidden;
}

.inner img{
    height: 16rem;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    border-radius: 1.2rem;
}

.card h1{
    text-align: center;
    font-family: monospace;
}

.inner i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4.4rem;
    opacity: 0;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.24,1.93,.83,.67) 0.4s;
}