*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(90deg,rgba(92, 100, 105, 1) 0%, rgba(87, 139, 199, 1) 50%, rgba(191, 87, 212, 1) 100%);
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.box{
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
    border: 0.2rem solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap:2rem;
}

.box img{
    height: 8rem;
}

.box h2{
    font-size: 2rem;

}

button{
    padding: 1rem 2rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 1.6rem;
}

button:active{
    scale:0.95;
}